@model Webmaster  //  Model model =new Model()
@{
    ViewData["Title"] = "Contact2";
}

<h3>Webmaster Bilgileri ViewBag-2</h3>
<p>@Model.Id</p>
<p>@Model.Ad</p>
<p>@Model.Soyad</p>
<p>@Model.Mail</p>

